
module mypol 1.0;

require {
	type svirt_t;
	type ecryptfs_t;
	class lnk_file read;
}

#============= svirt_t ==============
allow svirt_t ecryptfs_t:lnk_file read;
