se.sics.cooja.GUI.MOTETYPES = + se.sics.cooja.avrmote.MicaZMoteType se.sics.cooja.avrmote.RFA1MoteType se.sics.cooja.avrmote.RavenMoteType se.sics.cooja.avrmote.ATTiny85MoteType
se.sics.cooja.GUI.PLUGINS = + se.sics.cooja.avrmote.NewAvrDebugger
se.sics.cooja.GUI.JARFILES = + cooja_avrora.jar avrora.jar
