// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define USE_STDPERIPH_DRIVER
#define STM32F4XX
#define HSE_VALUE=8000000
#define __FPU_PRESENT=1
#define __FPU_USED=1
#define ARM_MATH_CM4


#define CONTIKI=1
#define CONTIKI_TARGET_STM32TEST=1
#define NETSTACK_CONF_WITH_IPV6=1
#define UIP_CONF_IPV6_RPL=1
#define AUTOSTART_ENABLE

//-I. -I../../core -I../../cpu/arm/stm32f103 -I../../cpu/arm/stm32f103/loader -I../../cpu/arm/stm32f103/dbg-io -I../../platform/stm32test  

#define WITH_ASCII
#define MCK=48000000
#define SUBTARGET=CB
#define RUN_AS_SYSTEM
#define ROM_RUN

//-I. -Isrc_stm32test -I../../platform/stm32test/. -I../../cpu/arm/stm32f103/. -I../../cpu/arm/stm32f103/../common/dbg-io -I../../cpu/arm/stm32f103/../common/usb -I../../cpu/arm/stm32f103/loader -I../../core/dev -I../../core/lib 
//-I../../core/net -I../../core/net/llsec -I../../core/net/mac -I../../core/net/rime -I../../core/net/rpl -I../../core/sys -I../../core/cfs -I../../core/ctk 
//-I../../core/lib/ctk -I../../core/loader -I../../core/. -I../../core/sys -I../../core/dev -I../../core/lib -I../../core/net/ipv6 -I../../core/net/ip 
//-I../../core/net/rpl -I../../platform/stm32test/ -I../..

#define CONTIKI_VERSION_STRING=\"Contiki-udtn-maintainer-changed-149-g236f85e\" 
#define INGA_BOOTSCREEN_NETSTACK
#define INGA_BOOTSCREEN
#define INGA_BOOTSCREEN_RADIO
