// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define USE_STDPERIPH_DRIVER
#define STM32F4XX
#define HSE_VALUE=8000000
#define __FPU_PRESENT=1
#define __FPU_USED=1
#define ARM_MATH_CM4

#define NETSTACK_CONF_WITH_DTN=1
#define UIP_CONF_IPV6_RPL=0
#define INGA_CONF_REVISION=INGA_V14

// TODO eemprom not suported at this time
//#define CONTIKI_CONF_SETTINGS_MANAGER=1

#define AUTO_CRC_PADDING=2
#define RF230BB

#define CONTIKI=1


// TODO possibly not needed
#define WITH_ASCII
// TODO possibly not needed
#define MCK=48000000

#define CONTIKI_VERSION_STRING=\"Contiki-udtn-maintainer-changed-149-g236f85e\" 
#define INGA_BOOTSCREEN_NETSTACK
#define INGA_BOOTSCREEN
#define INGA_BOOTSCREEN_RADIO

#define ENABLE_LOGGING
