tests:
### Test throughput
  - name: throughput
    timeout: 900
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: [examples/uDTN/throughput/uDTN-sender.c,platform/inga/*.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-fno-inline -DCONF_SEND_TO_NODE=$RECEIVER -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30"
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: [examples/uDTN/throughput/uDTN-sink.c,platform/inga/*.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-fno-inline -DCONF_SEND_TO_NODE=$RECEIVER -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30"
        cflags: "-fno-inline -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30"
        graph_options: ""
  - name: throughput-uninstr
    timeout: 900
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: []
        debug: []
        cflags: "-DCONF_SEND_TO_NODE=$RECEIVER"
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: []
        debug: []
        cflags: "-fno-inline -DCONF_SEND_TO_NODE=$RECEIVER -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30"
        cflags: ""
        graph_options: ""
### Test delivery-reports
  - name: delivery-reports
    timeout: 900
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: [examples/uDTN/throughput/uDTN-sender.c,platform/inga/*.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -fno-inline -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30 -DCONF_REPORT=1 -DCONF_BUNDLES=40 -DTEST_DO_NOT_DELETE_ON_DIRECT_DELIVERY=1 -DCONF_SEND_TO_NODE=$RECEIVER"
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: [examples/uDTN/throughput/uDTN-sink.c,platform/inga/*.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -fno-inline -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30 -DCONF_REPORT=1 -DCONF_BUNDLES=40 "
        graph_options: ""
  - name: delivery-reports-uninstr
    timeout: 900
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: []
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -fno-inline -DCONF_REPORT=1 -DCONF_BUNDLES=40 -DTEST_DO_NOT_DELETE_ON_DIRECT_DELIVERY=1 -DCONF_SEND_TO_NODE=$RECEIVER"
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: []
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -fno-inline -DCONF_REPORT=1 -DCONF_BUNDLES=40 "
        graph_options: ""
### Test throughput COFFEE
  - name: throughput-coffee
    timeout: 7200
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: [examples/uDTN/throughput/uDTN-sender.c,platform/inga/*.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -DCONF_BUNDLES=50 -DBUNDLE_CONF_STORAGE_INIT=1 -fno-inline -DBUNDLE_CONF_STORAGE=storage_coffee -DCONF_SEND_TO_NODE=$RECEIVER -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30"
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: [examples/uDTN/throughput/uDTN-sink.c,platform/inga/*.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -DCONF_BUNDLES=50 -DBUNDLE_CONF_STORAGE_INIT=1 -fno-inline -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30 -DBUNDLE_CONF_STORAGE=storage_coffee"
        graph_options: ""
  - name: throughput-coffee-uninstr
    timeout: 3600 
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: []
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -DCONF_BUNDLES=100 -DBUNDLE_CONF_STORAGE_INIT=1 -DCONF_SEND_TO_NODE=$RECEIVER -DBUNDLE_CONF_STORAGE=storage_coffee"
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: []
        debug: []
        cflags: "-DCONF_REPORTING_INTERVAL=1 -DCONF_BUNDLES=100 -DBUNDLE_CONF_STORAGE_INIT=1 -DBUNDLE_CONF_STORAGE=storage_coffee"
        graph_options: ""
### Basically the throughput test with the contiki network stack instrumented
  - name: contiki-net
    timeout: 900
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: [cpu/avr/radio/rf230bb/rf230bb.c,examples/uDTN/throughput/uDTN-sender.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-fno-inline -DCONF_SEND_TO_NODE=$RECEIVER -finstrument-functions-exclude-function-list=radio_get_trx_state,rf230_isidle,rf230_waitidle,rf230_set_promiscuous_mode,rf230_is_ready_to_send,flushrx,RELEASE_LOCK,set_txpower,calibrate_rc_osc_32k,rf230_off,rf230_on,rf230_get_channel,rf230_set_channel,rf230_listen_channel,rf230_set_pan_addr,rf230_interrupt,rf230_set_txpower,rf230_get_txpower,rf230_get_raw_rssi,rf230_receiving_packet,rf230_pending_packet -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30"
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: [cpu/avr/radio/rf230bb/rf230bb.c,examples/uDTN/throughput/uDTN-sink.c,core/net/uDTN/*.c]
        debug: []
        cflags: "-fno-inline -finstrument-functions-exclude-function-list=radio_get_trx_state,rf230_isidle,rf230_waitidle,rf230_set_promiscuous_mode,rf230_is_ready_to_send,flushrx,RELEASE_LOCK,set_txpower,calibrate_rc_osc_32k,rf230_off,rf230_on,rf230_get_channel,rf230_set_channel,rf230_listen_channel,rf230_set_pan_addr,rf230_interrupt,rf230_set_txpower,rf230_get_txpower,rf230_get_raw_rssi,rf230_receiving_packet,rf230_pending_packet -DPROFILES_CONF_MAX=100 -DPROFILES_CONF_STACKSIZE=30"
        graph_options: ""
  - name: contiki-net-uninstr
    timeout: 900
    devices:
      - name: sender
        programdir: examples/uDTN/throughput
        program: uDTN-sender
        instrument: []
        debug: []
        cflags: "-fno-inline -DCONF_SEND_TO_NODE=$RECEIVER "
        graph_options: ""
      - name: receiver
        programdir: examples/uDTN/throughput
        program: uDTN-sink
        instrument: []
        debug: []
        cflags: "-fno-inline "
        graph_options: ""
